<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CalculateExpress</title>
</head>
<body>
  <div class="container">
   <div class="title">CalculateExpress</div>
  

    <div class="display">
      <form action="" [formGroup]="inputStr">
        <input type="text" formControlName="text">
      </form>
    </div>
    <div class ="buttons">

    <div class="operations row">
  <div class="col-auto">
    <button (click)="calculateTrig('sin')" class="btn">sin</button>
    <button (click)="calculateTrig('cos')" class="btn">cos</button>
    <button (click)="calculateTrig('tan')" class="btn">tan</button>
    <button (click)="calculateTrig('asin')" class="btn">sin<sup>-1</sup></button>
    <button (click)="calculateTrig('acos')" class="btn">cos<sup>-1</sup></button>
    <button (click)="calculateTrig('atan')" class="btn">tan<sup>-1</sup></button>
    <button (click)="calculateExponential()" class="btn">e<sup>x</sup></button>
    <button (click)="calculateLogarithm()" class="btn">ln</button>
  </div>
</div>

      <div class = "operations row">
        <div class="col-auto">
        <button (click)="calculateSquare()" class="btn">x<sup>2</sup></button>
        <button (click)="calculateCube()" class="btn">x<sup>3</sup></button>
          <button (click)="buttonClick($event.target)" class ="btn">+</button>
          <button (click)="buttonClick($event.target)"class ="btn">-</button>
          <button (click)="buttonClick($event.target)"class ="btn">*</button>
          <button (click)="buttonClick($event.target)" class ="btn">/</button>
          <button (click)="calculateSquareRoot()" class="btn">√</button>
          <button (click) ="doCalc()" class ="btn">=</button>

        </div>
      </div>

          <div class = "operands row">
        <div class="col-auto">
          <button (click)="buttonClick($event.target)"class ="btn">1</button>
          <button (click)="buttonClick($event.target)"class ="btn">2</button>
          <button (click)="buttonClick($event.target)"class ="btn">3</button>
          <button (click)="toggle()" class="btn">+/-</button>
          <button (click)="calculatePercent()" class="btn">%</button>
          <button (click)="clearCalc()"class ="btn">Clear</button>
        </div>
      </div>

         <div class = "operands row">
        <div class="col-auto">
          <button (click)="buttonClick($event.target)"class ="btn">4</button>
          <button (click)="buttonClick($event.target)"class ="btn">5</button>
          <button (click)="buttonClick($event.target)"class ="btn">6</button>
          <button (click)="buttonClick($event.target)"class ="btn">0</button>
          <button (click)="deleteLast()"class ="btn">DEL</button>
        </div>
      </div>

         <div class = "operands row">
        <div class="col-auto">
          <button (click)="buttonClick($event.target)"class ="btn">7</button>
          <button (click)="buttonClick($event.target)"class ="btn">8</button>
          <button (click)="buttonClick($event.target)"class ="btn">9</button>
          <button (click)="buttonClick($event.target)"class ="btn">.</button>
        </div>
      </div>

      </div>
      <div className="links">
    <a href="https://www.linkedin.com/in/ryangormican/">
 Linkedin |
</a>
<a href="https://github.com/RyanGormican/CalculateExpress">
Github |
</a>
<a href="https://ryangormicanportfoliohub.vercel.app/">
Portfolio
</a>
   
  </div>
  </div>
</body>
</html>
