.container{
text-align:center;
margin:15px;
}
a {
font-size:30px;
color:white;
}
html, body {
    font-family: Helvetica, sans-serif;
    background-color: #334;
    color: #fff; 
    margin: 0;
    padding: 0;
    height:97vh;
      border:none;
  outline:none;
  }
.display {
      margin-bottom: 15px;
      margin-top:15px;
    }
.title{
  font-size: 50px;
  font-family: Helvetica;
}
.col-auto button {
      font-size: 15px;
      padding: 10px 20px;
      margin: 5px;
      cursor: pointer;
      background-color: #24a8c9;
      color: white;
      border: none;
      border-radius: 5px;
      outline: none;
    }
